<div class="TweeterPerson">
	<h3>{{name}}</h3>
	<h4>@{{user_name}}</h4>
	<img src="{{profile_image_url}}"/>
	<h5>{{description}}</h5>
	<p/>
	<a href="#/map/{{user_name}}">show map of tweets</a>
	<p class="showthemap">Click this text line to hide this box</p>
	<p/>
</div>